<div class="container py-4">
   <!-- About Section -->
  <div class="row mb-4">
    <div class="col-12 mx-auto">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title">About Me 🧑‍💻🖥️</h3>
          <p class="card-text" [innerHTML]="about"></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Cards -->
  <div class="row g-3 mb-4">
    @for (card of cards; track card.title) {
      <div class="col-md-4">
        <div class="card h-100 shadow">
          <a [href]="card.link" class="text-decoration-none text-dark">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title fw-bold fs-4">{{ card.title }}</h5>
              <img
                [src]="card.thumbnail"
                class="card-img-top shadow"
                [alt]="card.title"
              />
              <div class="mt-3 text-center">
                <p class="card-text flex-grow-1">{{ card.description }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    }
  </div>
</div>
