
<p>
  <strong>Video Carousel</strong>
</p>

<div class="video-carousel" *ngIf="!loading; else loadingTpl">
  <ngb-carousel *ngIf="videos.length > 0">
    <ng-template ngbSlide *ngFor="let video of videos">
      <div class="video-slide">
        <iframe
          [src]="video.safeUrl"
          width="560"
          height="315"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <div class="caption">{{ video.title }}</div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<ng-template #loadingTpl>
  <div class="text-center text-light">Loading videos...</div>
</ng-template>

