/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem; /* optional: adjust to taste */
  line-height: 1.6;
  color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500; /* medium for headings looks great */
}
